#banner{
	margin-top: 50px;
	position: relative;
}

#banner img {
	width: 100%;
	height: 100%;
}

#banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
}

#banner h2{
	font-size: 23px;
	color: #A6453C;
}

#banner p{
	color:#8C3420;
}

#banner a{
	display: block;
	text-align: center;
	width: 100px;
	color: #F2F2F2;
	text-decoration: none;
	padding: 5px;
	margin-top: 10px;
	border:3px solid #fff;
}

#banner a:hover{
	background: rgba(26,166,124,0.5);
}

@media (min-width: 480px){
	#banner h2{
		font-size: 40px;
	}

	#banner a{
		margin-top: 25px;
	}
}

@media(min-width: 768px){
	#banner {
		height: 300px;
		overflow: hidden;
	}

	#banner img {
		height: auto;
		margin-top: -100px;
	}
}

@media (min-width: 1024px){
	#banner img {
		margin-top: -370px;
	}
}