#contenedor_formulario{
	width: 100%;
	background: #D9BDAD;
	padding: 20px;
	min-height: 800px;
}

#contenedor_formulario h3{
	color:#8C3420;
}


/*
@media (min-width: 480px){


}


@media (min-width: 1024px){


}*/
