#productos{
	background: #D9BDAD;
	display: flex;
	flex-direction: column;
}

/*arreglar el titulo*/

#productos .caja .galeria{
	width: 90%;
	margin:auto;
	list-style: none;
	padding: 20px;
	box-sizing:border-box;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
}


#productos .caja .galeria li{
	margin: 3px 30px 0px 30px;
}
#productos .caja .galeria li a{
	display:block;
}

#productos .caja .galeria img{
	height: 139px;
	width: 316px;
	margin-top: 20px;
}



#productos .contenido{
	background: yellow;
	padding: 5px;
	margin: 0px 5px;
}

#productos .contenido h2{
	color: red;
}

#productos .contenido p{
	color:#3c3;
}



@media(min-width: 768px){
	#productos {
		min-height: 800px;
		overflow: hidden;
	}

	#productos .caja .galeria{
		padding: 70px;
	}

	#productos .caja h2{
		margin-top: 70px;
		color: #F2F2F2;
		font-size: 1.8em;
		
	}

	#productos .caja .galeria img{
		height: 139px;
		width: 316px;
	}
}


/* fala la media de 1024 */
